@charset"utf-8";

/*ν—¤λ”*/
#header{
    position: relative;
    background: #454546;
    height: 60px;
    line-height: 60px;
    width: 100%;
}
.logo{
    margin: 0 auto;
    width: 100px;
}
.logo img{width: 90px;}

.panel{
    width: 24px;
    height:60px;
    position:absolute;
    top:0;
    right:20PX;
    text-indent:-9999px;
}
.panel a{
    padding-top: 20px;
    display:block;
    height:100%;
    box-sizing:border-box;
}
.panel a span,.panel a::before,.panel a::after{
    content:"";
    display:block;
    width:30px;
    height:3px;
    margin:0 auto;
    background:#fff;
}
.panel a span{
     margin:5px auto;
}



/*ν‘Έν„°*/
#footer{
    text-align: center;
    font-size: 11px;
    padding: 8% 5%;
    background: #f5f5f5;
}
.fLogo{
    margin: 0 auto;
    width: 40px;
    padding-bottom: 5%;
}
.fLogo img{
    width: 50px;
}
.fInfo{
}
.fInfo p{
    padding: 5px 0;
}
.fInfo h4{
    padding-top: 5px;
    font-weight: 400;
}
